<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>admin-panel</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/snake/teal-snake.css">
    <link rel="stylesheet" href="/assets/css/snake/main-snake.css">
    <link rel="stylesheet" href="/assets/css/snake/light-snake.css">
    <link rel="stylesheet" href="/assets/css/snake/head-snake.css">
    <link rel="stylesheet" href="/assets/css/snake/green-snake.css">
    <link rel="stylesheet" href="/assets/css/snake/dark-snake.css">
    <link rel="stylesheet" href="/assets/css/snake/Senura-snake.css">
    <link rel="stylesheet" href="/assets/css/bricks.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body><script>

function getTheme () {
    function changeTheme(themeUrl) {
      var elm = document.getElementById("style");
      elm && elm.remove();

      var newCss = document.createElement("link");
      newCss.id = "style";
      newCss.rel = "stylesheet";
      newCss.type = "text/css";
      newCss.href = themeUrl;
      document.head.appendChild(newCss);
    }
    var index = document.getElementById("select").selectedIndex;
    switch (index) {
        case 0: 
          changeTheme('css/light-snake.css?' + Math.random());
          break;
        case 1: 
          changeTheme('css/main-snake.css?' + Math.random());
          break;
        case 2: 
          changeTheme('css/dark-snake.css?' + Math.random());
          break;
        case 3: 
          changeTheme('css/green-snake.css?' + Math.random());
          break;
        case 4: 
          changeTheme('css/matrix-snake.css?' + Math.random());
          break;
        case 5: 
          changeTheme('css/Senura-snake.css?' + Math.random());
          break;
          case 6: 
          changeTheme('css/head-snake.css?' + Math.random());
          break;
        default:
          changeTheme('css/main-snake.css?' + Math.random());
          break;
    }
    setTimeout(function() {
        document.getElementById('game-area').focus();
    }, 10);
}
</script>
    <div class="container-fluid" style="--bs-light: #ffffff;--bs-light-rgb: 255,255,255;">
        <div class="row flex-column flex-sm-row wrapper min-vh-100" style="--bs-body-bg: var(--bs-body-bg);">
            <div class="col-12 col-sm-1 col-md-3 col-xl-1 flex-shrink-1 p-0 bg-dark">
                <nav class="navbar navbar-expand-sm bg-dark text-nowrap flex-row align-items-start flex-sm-column navbar-dark">
                    <div class="container flex-sm-column"><a class="navbar-brand" href="#"><i class="fa fa-braille fa-2x text-warning"></i></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav flex-column justify-content-between w-100">
                                <li class="nav-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" title="Overview"><a class="nav-link" href="/"><i class="fa fa-home me-2 text-info"></i><span class="d-inline-block d-sm-none d-md-inline-block">Frames</span></a></li>
                                <li class="nav-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" title="Properties" hidden=""><a class="nav-link" href="#"><i class="fa fa-gear me-2 text-info"></i><span class="d-inline-block d-sm-none d-md-inline-block">Props</span></a></li>
                                <li class="nav-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" title="Properties"><a class="nav-link" href="bricknballs"><i class="fa fa-circle me-2 text-info"></i><span class="d-inline-block d-sm-none d-md-inline-block">Bricks</span></a></li>
                                <li class="nav-item" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="right" title="Properties"><a class="nav-link" href="snake"><i class="fa fa-ellipsis-v me-2 text-info" style="padding-left: 5px;"></i><span class="d-inline-block d-sm-none d-md-inline-block" style="padding-left: 5px;;">Snake</span></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-sm-11 col-md-9 col-xl-9 bg-light py-3" style="background: var(--bs-body-bg);">
                <div class="row">
                    <div class="col-12">    <div class="snake-toolbar">

      <div style="display:inline-block;margin-right:10px;">
        <span>Mode:</span>
        <select id="selectMode">
            <option value="200">Чмоня</option>
            <option value="130" selected>Мужик</option>
            <option value="50">Крутой</option>
            <option value="30">Impossible</option>
        </select>
      </div>
      <button onclick="go_full_screen()">Full Screen</button><br />
        
    </div>

    <!--
      <h2>Select which mode you would like to play in.</h2>
      <button id="Easy">Easy</button><br />
      <button id="Medium">Medium</button><br />
      <button id="Difficult">Difficult</button>

<button id="high-score">Get your current high score for this game.</button>
-->
    <div id="mode-wrapper" style="display: inline; width: auto;">
    </div>

    <div id="game-area" tabindex="0">
    </div>
    <script type="text/javascript">
      function go_full_screen() {
        var elem = document.documentElement;
        try {
            if (elem.requestFullscreen) {
              elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
              elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
              elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
              elem.webkitRequestFullscreen();
            }
        } catch(err) {
          console.error(err);
          alert("Sorry, fullscreen won't work in this setup.");
        }
      }
  </script></div>
                </div>
            </div>
        </div>
    </div>
<script type="importmap">
  {
    "imports": {
      "@stomp/stompjs": "https://ga.jspm.io/npm:@stomp/stompjs@7.0.0/esm6/index.js"
    }
  }
</script>

<!-- ES Module Shims: Import maps polyfill for modules browsers without import maps support (all except Chrome 89+) -->
<script
  async
  src="https://ga.jspm.io/npm:es-module-shims@1.5.1/dist/es-module-shims.js"
  crossorigin="anonymous"
></script>


<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js">
        </script>
<script src="/assets/js/snake/snake.js" type="module"></script>


<script src="/assets/js/snake/init.js" type="module"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/basic.js"></script>
</body>

</html>